/* Layout: global */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18rem;
  padding: 2rem 1rem;
  background: #f8f9fa;
  z-index:999;
}

.sidebartitle {
  font-size: 2.8em;
  font-weight: 300;
}

#main {
  margin-left: 20rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
}

section:not(:last-of-type) {
  margin-bottom: 5rem;
}


/* Filter section */
#filter-collapse {
  min-width: 100%;
}

/* Dropdown */
.filter-dropdown {
  width: 8rem;
}

/* Checklist */
.filter-checklist label {
  display: block;
}

.filter-checklist input[type='checkbox'] {
  margin-right: 4px;
}

/* Time filters */
#filter-timeend-input, #filter-timebegin-input {
  width: 100px;
  height: 30px;
}

/* In case the controls in the filter section go super small: */
#filter-collapse label {
  min-width: 100%;
}

#filter-collapse [class*='col'] {
  min-width: 150px;
}